<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item [interval]="3000" >
    <img
      src="https://pixabay.com/get/gdae7c894a54d85d993dd96c4f31c69d91b5a045f40e11a8f8b870c75f60f22321c2119b8dc291c87b2b5f2dd3384bb12204b6e67f37829abf5972898eb64e552d11550079c54824b677391a2d363b98e_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Luchamos por tu justicia</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3000">
    <img
      src="https://pixabay.com/get/gaed160d57bf053e4d9287937d661c6083108963a8768b59bc03983a9096684f1b5adc63269f884ebac472bb10dc945fb2e7b6e4f192c959670c8005e3d6deb47d76d2c63e378fd0b92c29f12eba9b4aa_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Defendemos tus derechos</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3000">
    <img
      src="https://pixabay.com/get/g6d620c146a7d69fc0bb6078c0676fdead28fa067dfce47075c4ed1e7a8f1cb9e22e4fd76787feaa6db41d098cac1df99ff2f33ee799988fd12c29f8b339a6c4cb622c638e3430726c1fdd4d6e43e6131_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Apoyamos tu crecimiento</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
