mdb-carousel-item img {
  max-height: 490px;
}
h1 {
  font-family: 'Chapaza', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 60px;
  color: #FFFFFF;
  text-shadow: 2px black;
}

mdb-carousel{
  width: 100%;
}

mdb-carousel h1{
  margin-bottom: 30px;
}
.btn {
  font-family:GeosansLight,sans-serif;
  margin-bottom: 120px;
}
