<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<div class="wrapper">
  <!-- Top Bar Start -->
  <div class="top-bar">
      <div class="container-fluid align-items-center d-flex">
          <div class="row align-items-center d-flex">
            <div class="col-sm-1">
              <div class="logo align-items-center d-flex">
                  <a href="index.html">
                    <img src="../assets/imgs/logosmall.webp"><img>
                    </a>
              </div>
          </div>
              <div class="col-lg-4 align-items-center d-flex">
                  <div class="logo align-items-center d-flex">
                      <a href="index.html">
                        <h1>Albarracin & Mariño Rodriguez Asociados</h1>
                      </a>
                  </div>
              </div>
              <div class="col-lg-7" >
                  <div class="top-bar-right">
                      <div class="text">
                          <h2>8:00 AM - 6:00 PM</h2>
                          <p>Horario de atención Lun-Vie</p>
                      </div>
                      <div class="text">
                          <h2> <a href=""></a> +57 3507785910</h2>
                          <p>Consulta gratuita</p>
                      </div>
                      <div class="social">
                          <a href="https://twitter.com/Tatiana24223218"><i class="fab fa-twitter"></i></a>
                          <a href="https://www.facebook.com/TatianaRodriguezAbogada"><i class="fab fa-facebook-f"></i></a>
                          <a href="https://www.linkedin.com/in/tatiana-rodriguez-abogada/"><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://wa.me/573507785910"><i class="fab fa-whatsapp"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
